<div class="container" style="display:inline ;">
  <h2>Welcome {{#if afterCheck}}{{afterCheck.firstName}}{{else}}{{name}}{{/if}}</h2>
  <div>
    <form action="/logout">
      <button type="submit" class="btn btn-danger">Logout</button>
    </form>
  </div>
</div>